node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
.gitignore

.solhint.json
.solhintignore
.prettierignore
.eslintrc.js
.eslintignore
bin

.DS_Store
deployments/
tenderly.yaml
